.fact-wrap {
    
    .title {
        font-size: 55px;
        font-weight: 700;
        color: #000a2d;
        margin-bottom: 0;
        line-height: 60px;
    }
    p {
        font-size: 18px;
        font-weight: 500;
        color: #696969;
        margin-bottom: 0;
    }
}