.header-area {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
    width: 100%;
}
.header-speacing {
    padding: 40px 58px;

    @include mq(xl){
        padding: 40px 40px;
    }
    @include mq(lg){
        padding: 40px 40px;
    }
    @include mq(md){
        padding: 40px 40px;
    }
    @include mq(xs){
        padding: 40px 10px;
    }
}
.logo {
    a {
        display: inline-block;

        img {
            max-width: 100%;
        }
    }
}

.main-menu {

    ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            display: inline-block;
            margin: 0 20px;

            @include mq(xl){
                margin: 0 12px;
            }
            a {
                display: block;
                color: #fff;
                text-transform: capitalize;
                font-size: 16px;
                font-weight: 700;
            }
        }
    }
}

.header-social {
    display: inline-block;

    @include mq(xl){
        display: none;
    }
    @include mq(xs){
        display: none;
    }
    a {
        width: 50px;
        height: 50px;
        border: 1px solid #6575f2;
        display: inline-block;
        border-radius: 50%;
        line-height: 50px;
        text-align: center;
        color: #fff;
        margin-left: 10px;

        &:hover {
            color: $theme-color;
            border-color: transparent;
            background-color: #fff;

        }
    }
}

.header-btn {
    display: inline-block;

    @include mq(xs){
        display: none;
    }
    a {
        display: inline-block;
        height: 50px;
        padding:0 40px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        background-color: #fff;
        color: #000a2d;
        border: 0;
        text-transform: uppercase;
        line-height: 50px;
        border: 1px solid transparent;

        i {
            margin-left: 10px;
        }
        &:hover {
            background-color: transparent;
            border-color: _rgba(#fff, 0.2);
            color: #fff;
        }
    }
}

.menu-open {
    display: inline-block;
    margin-left: 10px;
    a {
        display: inline-block;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        background-color: #fff;
        color: #000a2d;
        border: 0;
        text-transform: uppercase;
        line-height: 53px;
    }
}
