.hero-area {
   position: relative;
   z-index: 1;
    .hero-thumb {
        position: absolute;
        right: 35px;
        bottom: 0;
        z-index: 2;

        @include mq(lg){
            right: 0;
            width: 570px;
        }
        @include mq(md){
            position: relative;
            width: 100%;
            right: 0;
        }
        @include mq(xs){
            position: relative;
            width: 100%;
            right: 0;
        }
    }
    .hero-content {
        padding-bottom: 260px;
        padding-top: 350px;

        @include mq(lg){
            padding-top: 300px;
            padding-bottom: 200px;
        }
        @include mq(md){
            padding-top: 200px;
            padding-bottom: 100px;
        }
        @include mq(xs){
            padding-top: 200px;
            padding-bottom: 70px;
        }
    }
    .hero-shape-bg {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
        animation: updown 3s infinite;

    }
    .hero-thumb-bg {
        position: absolute;
        content: "";
        right: 128px;
        bottom: 140px;
        z-index: -1;
        animation: updown 4s infinite;

        @include mq(xl){
            right: 10px;
        }
        @include mq(lg){
            display: none;
        }
        @include mq(md){
            right: 0px;
        }
        @include mq(xs){
            display: none;
        }
    }
    .hero-shape-bg-2 {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        z-index: -1;
    }
}

.hero-content {
    padding-left: 42px;

    @include mq(lg){
        padding-left: 0;
    }
    @include mq(md){
        padding-left: 0;
    }
    @include mq(xs){
        padding-left: 0;
    }
    .title {
        font-size: 100px;
        font-weight: 700;
        color: #fff;
        text-transform: capitalize;
        margin-bottom: 10px;

        @include cmq(1200px,1300px){
            font-size: 80px;
        }
        @include mq(lg){
            font-size: 70px;
        }
        @include mq(xs){
            font-size: 60px;
        }
    }
    p {
        font-size: 22px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #fff;
        margin-bottom: 0;

        @include mq(xs){
            font-size: 18px;
        }
    }
    .hero-btn-1 {
        display: inline-block;
        height: 50px;
        padding:0 40px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        background-color: #fff;
        color: #000a2d;
        text-transform: uppercase;
        line-height: 50px;
        margin-top: 30px;
        margin-right: 10px;
        border: 2px solid transparent;

        @include mq(xs){
            padding: 0 30px;
        }

        i {
            margin-left: 10px;
        }
        &:hover {
            background-color: transparent;
            border-color: _rgba(#fff, 0.2);
            color: #fff; 
        }

    }
    .hero-btn-2 {
        display: inline-block;
        height: 50px;
        padding:0 40px;
        border-radius: 30px;
        font-size: 16px;
        font-weight: 700;
        background-color: transparent; 
        color: #fff;
        text-transform: uppercase;
        line-height: 50px;
        margin-top: 30px;
        border: 2px solid _rgba(#fff, 0.2);

        i {
            margin-left: 10px;
        }
        &:hover {
            background-color: #fff;
            border-color: transparent;
            color: #000a2d; 
        }
    }
}

@keyframes updown {
    0%{
        transform: translateY(10px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(10px);
    }
}